    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header text-center">
                        <i class="icon-big ti-face-sad"></i>
                        <h4 class="title">Report an Issue</h4>
                        <p>Note: All responses would be forwarded to your registered email address</p>
                    </div>
                    <div class="content">
                            <form>
                                <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="title">Title</label>
                                                <input type="text" class="form-control border-input" placeholder="Give Your Issue a Title" id="title">
                                            </div>
                                        </div>
                                </div>
                                <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="details">Details</label>
                                                <textarea rows="5" cols="auto" class="form-control border-input" placeholder="Tell us everything about your issue" id="details"></textarea>
                                            </div>
                                        </div>
                                </div>
                                <div class="text-center">
                                        <button type="submit" class="btn btn-warning btn-fill  btn-md">Submit</button>
                                </div>
                                <div class="clearfix"></div>
                            </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
