<div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                    <div class="card">
                        <div class="content">
                            <div class="row">
                                <div class="col-xs-7">
                                   <p>Revenue Today</p>
                                </div>
                                <div class="col-xs-5">
                                    <div class="numbers">
                                        <label>$1,500.00</label>     
                                    </div>
                                </div>
                            </div>
                        </div>    
                    </div>
                </div>    
            <div class="col-md-4 col-sm-12">
                <div class="card">
                    <div class="content">
                        <div class="row">
                            <div class="col-xs-7">
                                <p>Sold Today</p>
                            </div>
                            <div class="col-xs-5">
                                <div class="numbers">
                                    <label>499 Gds</label>          
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="card">
                    <div class="content">
                        <div class="row">
                            <div class="col-xs-7">
                                <p>Users Today</p>
                            </div>
                            <div class="col-xs-5">
                                <div class="numbers">
                                    <label>1,000</label> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="card">
                        <div class="content">
                            <div class="row">
                                <div class="col-xs-7">
                                    <p>Evicon's Revenue Today</p>
                                </div>
                                <div class="col-xs-5">
                                    <div class="numbers">
                                        <label>$150.00</label> 
                                    </div>
                                </div>
                            </div>
                        </div>    
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="card">
                        <div class="content">
                            <div class="row">
                                <div class="col-xs-7">
                                    <p>Total Sold</p>
                                </div>
                                <div class="col-xs-5">
                                    <div class="numbers">
                                        <label>5000 Gds</label>       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="card">
                        <div class="content">
                            <div class="row">
                                <div class="col-xs-7">
                                    <p>Revenue Total</p>
                                </div>
                                <div class="col-xs-5">
                                    <div class="numbers">
                                        <label>$1,000,000.00</label>     
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                    <div class="col-md-12">
                            <div class="card">
                                    <div class="header">
                                        <p class="category">5 Recent Notifications</p>
                                    </div>
                                    <div class="content">
                                            <div class="timeline">
                                                    <div class="contain right">
                                                      <div class="contents">
                                                            <p>Memo: Daily savings deposit. (Payment ID: APB86e930ca6)</p>
                                                            <p>Transaction ID: CW6a21d9c</p>
                                                            <p>Date: Saturday 14th of October 2017 05:22:02 PM</p>
                                                      </div>
                                                    </div>
                                                    <div class="contain right">
                                                      <div class="contents">      
                                                            <p>Memo: Daily savings deposit. (Payment ID: APB86e930ca6)</p>
                                                            <p>Transaction ID: CW6a21d9c</p>
                                                            <p>Date: Saturday 14th of October 2017 05:22:02 PM</p>
                                                      </div>
                                                    </div>
                                                    <div class="contain right">
                                                            <div class="contents">            
                                                                    <p>Memo: Daily savings deposit. (Payment ID: APB86e930ca6)</p>
                                                                    <p>Transaction ID: CW6a21d9c</p>
                                                                    <p>Date: Saturday 14th of October 2017 05:22:02 PM</p>
                                                            </div>
                                                    </div>
                                                    <div class="contain right">
                                                            <div class="contents">
                                                                    <p>Memo: Daily savings deposit. (Payment ID: APB86e930ca6)</p>
                                                                    <p>Transaction ID: CW6a21d9c</p>
                                                                    <p>Date: Saturday 14th of October 2017 05:22:02 PM</p>
                                                            </div>
                                                    </div>
                                                    <div class="contain right">
                                                            <div class="contents">
                                                                    <p>Memo: Daily savings deposit. (Payment ID: APB86e930ca6)</p>
                                                                    <p>Transaction ID: CW6a21d9c</p>
                                                                    <p>Date: Saturday 14th of October 2017 05:22:02 PM</p>
                                                            </div>
                                                    </div>
                                            </div>
                                            <br/>
                                            <a><button class="btn btn-md btn-warning btn-fill"><span><i class="ti-plus"></i></span>  View All</button></a>
                                    </div>
                                </div>
                    </div>
                </div>            
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="header">
                    <h3 class="title">Sales Summary</h3>
                    <p class="category">Daily Report</p>
                </div>
                <div class="content">
                    <div id="chartPreferences" class="ct-chart ct-perfect-fourth"></div>
                    <div class="footer">
                        <div class="chart-legend">
                            <i class="fa fa-circle text-info"></i> Electronics
                            <i class="fa fa-circle text-danger"></i> Wearables
                            <i class="fa fa-circle text-warning"></i> Utility
                            <i class="fa fa-circle text-success"></i> Edibles
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card ">
                <div class="header">
                    <h3 class="title">Visitors Summary</h3>
                    <p class="category">Daily Report</p>
                </div>
                <div class="content" style="margin-top:7.5px;">
                    <div id="chartActivity" class="ct-chart"></div>
                    <br/>
                </div>
            </div>
        </div>
    </div>
    
</div>