<form>
        <div class="card">
                <div class="content">
                        <div class="row" style="display:inline;">

                                <div class="col-md-12 col-sm-12  text-center">
                                        <div class="input-group">
                                                <input type="text" class="form-control border-input" placeholder="Filter Results">
                                                <div class="input-group-btn">
                                                        <button class="btn btn-warning btn-fill" type="submit">
                                                                <i class="ti-search"></i>
                                                        </button>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</form>
<div class="card">
        <div class="header">
                <div class="row">
                        <br class="hidden-md hidden-lg" />
                        <div class="col-md-6 col-sm-12 ">
                                <h4 class="title">Events and Transaction Details</h4>
                                <p class="category">All Time Notifications</p>
                        </div>
                </div>

        </div>
        <div class="content">
                <div class="timeline">
                        <div class="contain right">
                                <div class="contents">
                                        <p>Memo: Daily savings deposit. (Payment ID: APB86e930ca6)</p>
                                        <p>Transaction ID: CW6a21d9c</p>
                                        <p>Date: Saturday 14th of October 2017 05:22:02 PM</p>
                                </div>
                        </div>
                        <div class="contain right">
                                <div class="contents">
                                        <p>Memo: Daily savings deposit. (Payment ID: APB86e930ca6)</p>
                                        <p>Transaction ID: CW6a21d9c</p>
                                        <p>Date: Saturday 14th of October 2017 05:22:02 PM</p>
                                </div>
                        </div>
                        <div class="contain right">
                                <div class="contents">
                                        <p>Memo: Daily savings deposit. (Payment ID: APB86e930ca6)</p>
                                        <p>Transaction ID: CW6a21d9c</p>
                                        <p>Date: Saturday 14th of October 2017 05:22:02 PM</p>
                                </div>
                        </div>
                        <div class="contain right">
                                <div class="contents">
                                        <p>Memo: Daily savings deposit. (Payment ID: APB86e930ca6)</p>
                                        <p>Transaction ID: CW6a21d9c</p>
                                        <p>Date: Saturday 14th of October 2017 05:22:02 PM</p>
                                </div>
                        </div>
                        <div class="contain right">
                                <div class="contents">
                                        <p>Memo: Daily savings deposit. (Payment ID: APB86e930ca6)</p>
                                        <p>Transaction ID: CW6a21d9c</p>
                                        <p>Date: Saturday 14th of October 2017 05:22:02 PM</p>
                                </div>
                        </div>
                </div>
                <br/>
        </div>
</div>